#top-menu-cont{

}

.channel-cont{
	display:inline;
	float:left;
	width:15%;
}
#channel-dropdown{
	display:inline;
	margin-left:20px;
}
#channel-desc{
	margin:0 20px;
	font:bold 12px Lato,arial,sans-serif;
	color:#ec971f;
}

#post-to-user-cont{
	display:inline;
	float:left;
	width:15%;
}
#post-to-user-dropdown{
	display:inline;
	margin-left:10px;
}
#post-to-user-desc{
	margin:0 20px;
	font:bold 12px Lato,arial,sans-serif;
	color:#5cb85c;
}

#post-to-group-cont{
	display:inline;
	float:left;
	width:15%;
}
#post-to-group-dropdown{
	display:inline;
	margin-left:20px;
}
#post-to-group-desc{
	margin:0 20px;
	font:bold 12px Lato,arial,sans-serif;
	color:#337ab7;
}

#profile-cont{
	display:inline;
	float:right;
	width:55%;
}

#profile-dropdown-btn{
	display:inline;
	float:right;
	margin-right:20px;
}


#profile-dropdown-avatar{
	display:inline;
	float:left;
	width:20px;
	height:20px;
	margin:3px 10px;
}

#profile-username{
	display:inline;
	float:left;
	margin:3px 0;
}

.slack-message{
	margin:20px;
	padding:10px;
	border:1px solid lightgrey;
	border-radius:5px;
	font:14px Lato,arial,sans-serif;
}
.left{
	float:left;
	display:inline;
}
.center{
	margin:0 10px;
	float:left;
	display:inline;
	width:75%;
}
.img{
	width:30px;
	height:30px;
}
#message-username-cont{

}
#message-username{
	display:inline;
	float:left;
	font:bold 14px Lato,arial;
	font-size:14px;
	margin:2px;
}
#message-time{
	display:inline;
	float:left;
	font-size:14px;
	color:grey;
	margin:2px;
}
#message-pretext{
	margin:5px 0;
	padding:5px;
	border:1px dashed lightgrey;
	border-radius:5px;
	outline:none;
}
#hs-post{
	margin:5px 0;
	padding:5px;
}
#hs-post-username{
	font:bold 14px Lato,arial;
}
#hs-post-timestamp{
	font-size:12px;
	color:lightgrey;
}
#hs-post-message{

}

.clear{
	clear:both;
}
.message-sent{
	font-size:16px;
	font-weight:bold;
	color:black;
	text-align:center;

}
.post-btn{
	margin-left:20px;
}

#logout-btn{

}

#slack-team-name{
	display:inline;
	margin:2px;
}

#oAuthLogin{
	font:bold 12px Lato,arial,sans-serif;
}

#login-cont{
	margin-top:20%;
	text-align:center;
}

#login-btn-img{
	width:30px;
	height:30px;
	border:none;
	margin-right:5px;
}

#login-btn-link{
	text-decoration:none;
	font-size:20px;
}

#register-text{
	margin-top:10px;
	font-size:16px;
	color:grey;
}

#register-link{
	text-decoration:none;
	color:#3aa3e3;
}