
#top-menu-cont{

}

.channel-cont{
	float:left;
	width:15%;
}
#channel-dropdown{
	margin-left:20px;
}
#channel-desc{
	margin:0 20px;
	font:bold 12px Lato,arial,sans-serif;
	color:#ec971f;
}

#post-to-user-cont{
	float:left;
	width:15%;
}
#post-to-user-dropdown{
	margin-left:10px;
}
#post-to-user-desc{
	margin:0 20px;
	font:bold 12px Lato,arial,sans-serif;
	color:#5cb85c;
}

#post-to-group-cont{
	float:left;
	width:15%;
}
#post-to-group-dropdown{
	margin-left:20px;
}
#post-to-group-desc{
	margin:0 20px;
	font:bold 12px Lato,arial,sans-serif;
	color:#337ab7;
}

#profile-cont{
	float:right;
	width:55%;
}

#profile-dropdown-btn{
	float:right;
	margin-right:20px;
}


#profile-dropdown-avatar{
	float:left;
	width:20px;
	height:20px;
	margin:3px 10px;
}

#profile-username{
	float:left;
	margin:3px 0;
}


#slack-message{
	height:300px;
	overflow:auto;
	margin:20px;
	padding:10px;
	border:1px solid lightgrey;
	border-radius:5px;
	font:14px Lato,arial,sans-serif;
}
.left{
	float:left;
}
.center{
	margin:0 10px;
	float:left;
	width:75%;
}


#slack-message-avatar{
	width:30px;
	height:30px;
}
#slack-message-username-cont{

}
#slack-message-username{
	float:left;
	font:bold 14px Lato,arial;
	font-size:14px;
	margin:2px;
}
#slack-message-time{
	float:left;
	font-size:14px;
	color:grey;
	margin:2px;
}
#hs-sn-source{
	font-weight:bold;
}
#slack-message-pretext{
	margin:5px 0;
	padding:5px;
	border:1px dashed lightgrey;
	border-radius:5px;
	outline:none;
}
#hs-post{
	margin:5px 0;
	padding:5px;
}
#hs-post-author-img{
	float:left;
	width:16px;
	height:16px;
	margin-right:5px;
	border:none;
	border-radius:2px;
}
#hs-post-username{
	float:left;
	margin:0 0 2px;
	font:bold 14px Lato,arial;
}
#hs-post-timestamp{
	margin: 0 0 2px;
	font-size:12px;
	color:lightgrey;
}
#hs-post-message{

}
#hs-post-attachment-cont{

}
.hs-post-attachment-img{
	width:130px;
	border:1px solid lightgrey;
	border-radius:5px;
	margin:2px;
	padding:2px;
}

.clear{
	clear:both;
}
#message-sent{
	margin-top:25%;
	padding:10px;
	text-align:center;
	height:inherit;
	font-size:16px;
	font-weight:bold;
	color:black;
}
.post-btn{
	margin-left:20px;
}

#logout-btn{

}

#slack-team-name{
	margin:2px;
}

#oauth-login{
	font:24px Lato,arial,sans-serif;

	text-shadow:0 1px 1px rgba(0,0,0,.1);
}

#login-cont{
	margin-top:20%;
	text-align:center;
}

#login-btn-link{
	width:300px;
	margin:auto;
	border:2px solid lightgrey;
	border-radius:5px;
	font-size:24px;
	cursor:pointer; cursor:hand;
}

#login-btn-img{
	float:left;
	width:30px;
	height:30px;
	border:none;
	margin:15px 5px 10px 34px;
}

#login-btn-text{
	float:left;
	margin:12px 15px 10px 5px;
	color:black;
}

#register-text{
	margin-top:10px;
	font-size:16px;
	color:grey;
}

#register-link{
	text-decoration:none;
	color:#3aa3e3;
}