.slack-message{
	margin:20px;
	padding:10px;
	border:1px solid grey;
	border-radius:10px;
	font:14px Lato,arial,sans-serif;
}
.left{
	float:left;
	display:inline;
}
.center{
	margin:0 10px;
	float:left;
	display:inline;
}
.right{
	float:right;
	display:inline;
}
.img{
	width:30px;
	height:30px;
}
.message-title{
	font-size:18px;
	margin:2px;
}
.message-details{
	margin:2px;
}
.message-time{
	color:grey;
}
.clear{
	clear:both;
}
.message-sent{
	margin:0 auto;

}

